<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Farmie</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon_io/favicon.ico" />

    <!-- Bootstraps CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <!-- My own css file -->
    <link rel="stylesheet" href="/css/aboutus.css">

</head>

<body>
    <!----------------------------------------------->
    <!--                Top navbar                 -->
    <!----------------------------------------------->

    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="/" id="logoNav"><img id="logo" src="/images/rabbitlogo.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav mr-auto">
                    <li class="nav-item active nav-active">
                        <a class="nav-link" href="/">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace">Marketplace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/message">Message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-------------------------------------------->
    <!--                Content                 -->
    <!-------------------------------------------->
    <div>
        <div class="box1">
            <div id="options">
                <div class="logoName">
                    <img id="bigLogo" src="/images/rabbitlogo.jpg">
                    <h1>Farmie</h1>

                </div>

                <a href="/login"><button class="authButton" type="button">Log in</button></a>
                <p></p>
                <a href="/signup" class="my-3"><button type="button" class="authButton">Sign up</button></a>
            </div>


        </div>


        <div class="box2">
            <div class="content2">
                <h2 class="whiteContent titleBox">Farmie</h2>
                <p>A web application that connect farmers to sellers over the world.
                    It's getting hard for farmers in Asia that have a tons of fruits to find the buyers.
                    Therefore, some of them have to sell their fruits with the price that is lower than market price.
                    Also,
                    some buyers such as markets, restaurants don't know how to connect with the farmer to buy fruits
                    from
                    the farm for the best price, so they buy fruits from reseller with a higher price. Farmie was
                    created to
                    address this problem, and it will bring more benefits to farmers, buyers, consumers and especially
                    for
                    the horticulture industry.
                </p>
            </div>
        </div>

        <div class="box3">
            <div class="content3">
                <h2 class="titleBox">How does Farmie Work?</h2>

                <div id="appFunction">
                    <div class="card card1">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="my-3">Update the market price weekly so that farmers and buyers can go to the
                            agreement
                            with a
                            reasonable
                            price.</p>
                    </div>

                    <div class="card card2">
                        <i class="fas fa-store"></i>
                        <p class="my-3">Upload the post of the fruits that will be harvested, and show all the posts
                            that
                            has
                            been posted on
                            the marketplace.</p>
                    </div>

                    <div class="card card3">
                        <i class="far fa-comment-dots"></i>
                        <p class="my-3">Send messages to farmers for more information about the fruits, and make a
                            appointment
                            to go to the
                            farm to check and buy fruits. </p>
                    </div>
                </div>
            </div>
        </div>


        <div id="team" class="box4">
            <div class="content4">
                <h2 class="whiteContent titleBox">Founder</h2>
                <img src="/images/katherine.PNG" id="founderPhoto">
                <p><i>Katherine Le</i></p>
                <p>A CST student from BCIT who is passionate to become a developer.</p>
            </div>

        </div>
    </div>

    <div id="bottomPage" class="my-4">
        <div>
            <spam>Shares <span id="farmie">Farmie</span> with your friends!</spam>
        </div>
        <div class="share-btn-container">
            <a href="https://www.facebook.com/sharer.php?u=http://127.0.0.1:3000/" class="facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/share?url=http://127.0.0.1:3000/&text=Let's check this app out to see all the posts of selling fruits from the farms!"
                class="twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://plus.google.com/share?urlhttp://127.0.0.1:3000/" class="google+">
                <i class="fab fa-google-plus"></i>
            </a>
            <a href="https://api.whatsapp.com/send?text=Let's check this app out to see all the posts of selling fruits from the farms! http://127.0.0.1:3000/"
                class="whatsapp">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>


    <!----------------------------------------------->
    <!--    JS: Boostrap, Firebase, API related    -->
    <!----------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>

</html>