<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Farmie | Sign up</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon_io/favicon.ico" />

    <!-- Bootstraps CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <!-- My own css file -->
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <!----------------------------------------------->
    <!--                Top navbar                 -->
    <!----------------------------------------------->
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="/" id="logoNav"><img id="logo" src="/images/rabbitlogo.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace">Marketplace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/message">Message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-------------------------------------------->
    <!--           The sign up form             -->
    <!-------------------------------------------->
    <div class="container my-3">

        <h3>Welcome to Farmie!</h3>
        <form method="post" action='/signup' class="theForm">

            <div>
                <p class="labelInput"><b>User Name:</b></p>
                <input type="text" class="inputField" id="userName" placeholder="Harry Smith" name="name">
            </div>

            <div>
                <p class="labelInput"><b>Email:</b></p>
                <input type="text" class="inputField" id="userEmail" placeholder="youremail@gmail.com" name="email">
            </div>


            <div>
                <p class="labelInput"><b>City:</b></p>
                <input type="text" class="inputField" id="userCity" placeholder="Your city" name="city">
            </div>

            <div>
                <p class="labelInput"><b>Country:</b></p>
                <input type="text" class="inputField" id="userCountry" placeholder="Your country" name="country">
            </div>

            <div>
                <p class="labelInput"><b>Password:</b></p>
                <input type="text" class="inputField" id="userPassword" name="password">
            </div>

            <div>
                <p class="labelInput"><b>Confirms Password:</b></p>
                <input type="text" class="inputField" id="userPasswordConfirm" name="passwordConfirm">
            </div>

            <div id="buttonDiv" class="my-2">
                <input type="submit" value="Sign Up" class="btn btn-primary signupBtn">
            </div>
        </form>
    </div>

    <!----------------------------------------------->
    <!--    JS: Boostrap, Firebase, API related    -->
    <!----------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous">
    </script>
    <!--------------------------------------------------------------------->
    <!--       JS files: my own JavaScript functions included here       -->
    <!--------------------------------------------------------------------->
    <script src="/js/signup.js"></script>
</body>

</html>